*bak*

*sublime*

old_src
vendor
fabfile*
.php.tools.ini
.env
jpgraph.phprj
.codelite
jpgraph.workspace
nbproject
.idea
.churn.yml
.php_cs.cache
.phpcs.config.xml
.phpmd.xml
.pmd.log
psalm.xml
# ignore huge fonts
tests/_output/coverage
Examples/assets/bkai00mp.ttf
Examples/assets/simsun.ttc
src/fonts/bkai00mp.ttf
src/fonts/simsun.ttc

